
<script src="https://kit.fontawesome.com/3bb8eadd77.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<link rel='stylesheet' href='stylePhone.css'/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js'></script>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
<div id = 'app' >
<div id='canvasphone'>
<img v-if='PhoneStep == 1 && MessagePanel == false'src="mobile.png" alt="" width='200px' class='phone' :class='PhoneStyle'>
<div v-if='PhoneStep == 0' class='spinner-border text-primary Loader' role="status"></div>
<img v-if='PhoneStep == 0'src="mobile.svg" alt="" width='200px' class='phone' :class='PhoneStyle'>
<div class='panel col-lg-12' v-if='PhoneStep == 1'>
	<div class='col-lg-6 p'><p><i class="fas fa-envelope"></i></p><p><i class="fas fa-phone"></i></div>		
	<div class='col-lg-6 p'><p><i class="fas fa-wifi"></i></p><p><i class="fas fa-address-book"></i></p></div>
</div>
<img v-if='PhoneStep == 1 && MessagePanel == true' src="mobile.png" alt="" width='200px' class='phone' :class='PhoneStyle'>
<div v-if='PhoneStep == 0'class='unlock btn btn-light' @click='unlockPhone' :class='ded'>Unlock</div>
<div class='time' v-if='PhoneStep == 1'>{{UserTime}}</div>
<div class='useric'>{{UserIC}}</div>
</div>

<script src='phoneVue.js'></script>
